body{
  background-color: #fff4cb;
}

h1{
  font-size: 45px;
  margin: 20px 0;
}

.title{
  color: rgb(78, 63, 17);
}

h3{
  font-size: 22px;
  color: rgb(78, 63, 17);
  border-top: dotted rgb(181, 136, 0) 3px;
}

p{
  font-size: 18px;
}

.blankspace{
  height: 200px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
}

.div1, .div2, .div3 {
  min-width: 50px;
  min-height: 50px;
}

a {
  text-decoration: none;
}

a #page{
  color: black;
  text-decoration: none;
}

.research{
  background-image: radial-gradient(circle, #e3f4f9, #f986e2);
}

.coding{
  background-image: radial-gradient(circle, #e3f4f9, #41cff6);
}

.art{
  background-image: radial-gradient(circle, #e3f4f9, #41f695);
}

.ball{
  font-weight: bolder;
  border: dotted;
  padding: 5px;
  border-color: rgb(181, 136, 0);
  animation:  swoosh 5s infinite ease-in-out;
  text-align: center;
  margin: auto;
  font-size: 30px;
}

.x {
  animation: x 13s linear infinite alternate;
}

.y {
  animation: y 7s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 800px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 800px));
  }
}

@keyframes swoosh{
  0%{
    border-radius: 89% 11% 89% 11% / 11% 76% 24% 89%  ;
  }
  50%{
    border-radius: 89% 11% 63% 37% / 46% 51% 49% 54%  ;
  }
  100%{
    border-radius: 89% 11% 89% 11% / 11% 76% 24% 89%   ;
  }
}